body {
    background-color: #1e1b20;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#wrapper {
    width: 31rem;
    margin: auto;
}

h1 {
    margin: 1.5rem;
    color: #cfcfcf;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0.5rem;
    color: #cfcfcfb7;
}

p {
    margin: 1.5rem;
    font-size: 20px;
    color:#dddddd;
}

button {
    background: rgb(76, 204, 90);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 1.5rem 2rem;
    margin: 1rem auto;
    border-radius: 15px;
    border-width: 5px;
}

button:hover {
    background: rgb(90, 221, 105);
}

button:active {
    background: rgb(63, 170, 74);
}

#passBoxWrapper {
    width: 28rem;
    background: rgba(255, 255, 255, 0.5);
    margin: 1.5rem auto 0.5rem auto;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(74, 199, 122);
}

#passBox {
    font-size: 24px;
    color: #1e1b20
}